html,
body {
    height: 95%;
}

body {
    background: linear-gradient(135deg, #000111 0%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration-editor {
    margin-top: -2rem;
    margin-right: -10rem;
    display: grid;
    grid-template-rows: 24px auto;
    justify-items: center;
    position: relative;
}

.editor-block {
    position: relative;
    display: block;
    width: 500px;
    height: 421px;
    background: linear-gradient(109.61deg, #4C4F5A 4.26%, #202125 84.84%);
    border-radius: 10px;
}

.code-blocks {
    position: relative;
}

.code {
    position: absolute;
    width: 290px;
    height: 145px;
    background: #1D1E22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 5;
}

.code header {
    display: grid;
    grid-template-columns: 36px auto 36px;
    align-items: center;
}

.code header svg {
    margin: 10px;
}

.code header h1 {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: #C5C8D4;
    margin: 0;
}

.code-html {
    left: -100px;
    top: 40px;
}

.code-css {
    left: -25px;
    top: 200px;
}

.code-js {
    left: -175px;
    top: 360px;
}

.code .code-content {
    margin: 0 10px 10px;
    color: white;
}

/* Syntax Highlighting Colors */
.code .c-r {
    color: #A88038;
}

.code .c-o {
    color: #DE7300;
}

.code .c-y {
    color: #E1CA72;
}

.code .c-g {
    color: #74B087;
}

.code .c-p {
    color: #9F8198;
}

.code .c-b {
    color: #7A99AD;
}

.code .c-c {
    color: #666666;
}

/* CSS Typing Animation */
.code-css .code-content code .line-1,
.code-css .code-content code .line-2,
.code-css .code-content code .line-3,
.code-css .code-content code .line-4,
.code-css .code-content code .line-5 {
    width: 0%;
    margin: 0;
    border-right: .15em solid transparent;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.code-css .code-content code .line-1 {
    animation: typing-1 1s steps(10, end) 0s forwards, cursor 1s linear 0s 3;
}

.code-css .code-content code .line-2 {
    margin-left: 2rem;
    animation: typing-2 3s steps(30, end) 1s forwards, cursor 1s linear 1s 3;
}

.code-css .code-content code .line-3 {
    margin-left: 4rem;
    animation: typing-3 1s steps(10, end) 4s forwards, cursor 1s linear 4s 3;
}

.code-css .code-content code .line-4 {
    margin-left: 4rem;
    animation: typing-4 1s steps(10, end) 5s forwards, cursor 1s linear 5s 3;
}

.code-css .code-content code .line-5 {
    margin-left: 4rem;
    border-color: transparent;
    animation: typing-5 3s steps(30, end) 6s forwards, cursor-persist 1s linear 6s infinite;
}

@keyframes typing-1 {
    from {
        width: 0
    }

    to {
        width: 60px
    }
}

@keyframes typing-2 {
    from {
        width: 0
    }

    to {
        width: 220px
    }
}

@keyframes typing-3 {
    from {
        width: 0
    }

    to {
        width: 70px
    }
}

@keyframes typing-4 {
    from {
        width: 0
    }

    to {
        width: 75px
    }
}

@keyframes typing-5 {
    from {
        width: 0
    }

    to {
        width: 141px
    }
}

@keyframes cursor {

    from,
    to,
    20%,
    80% {
        border-color: transparent
    }

    25%,
    75% {
        border-color: white
    }
}

@keyframes cursor-persist {

    from,
    45% {
        border-color: transparent
    }

    50%,
    to {
        border-color: white
    }
}